In [33]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.9.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [34]:
import pymongo
from pymongo.server_api import ServerApi

In [35]:
myclient = pymongo.MongoClient(
    "mongodb+srv://parisa:1234@cluster0.9ki5q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
    server_api=ServerApi("1"))

In [36]:
mydb = myclient["mydatabase"]

In [37]:
myclient.list_database_names()

['admin', 'local']

In [38]:
mycol = mydb["customers"]

In [39]:
my_info = {"name" : "parisa",
           "job": "programmer"}
mycol.insert_one(my_info)

InsertOneResult(ObjectId('66ed0537a24aff8e9f9fa6e2'), acknowledged=True)

In [40]:
my_info = {"name" : "Alex",
           "job": "waiter"}
mycol.insert_one(my_info)

InsertOneResult(ObjectId('66ed0537a24aff8e9f9fa6e3'), acknowledged=True)

In [41]:
mylist = [
    {"name": "Amy", "address": "Apple st"},
    {"name": "Hannah", "address": "Mountain 21"},
    {"name": "Michael", "address": "Valley 34"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('66ed0537a24aff8e9f9fa6e4'), ObjectId('66ed0537a24aff8e9f9fa6e5'), ObjectId('66ed0537a24aff8e9f9fa6e6')]

In [42]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('66ed0537a24aff8e9f9fa6e2'), 'name': 'parisa', 'job': 'programmer'}

In [43]:
x = mycol.find(
    {"name" : "parisa"},
 {"_id": 0, "name": 1, "job": 1})

for person in x:
  print(person)

{'name': 'parisa', 'job': 'programmer'}

In [44]:
mycol.delete_many({"name": "Amy"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000cf'), 'opTime': {'ts': Timestamp(1726809399, 22), 't': 207}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1726809399, 22), 'signature': {'hash': b'\r\xfc\x9c45\x8c!\x1d\xe7\x0c\xd3\xfd\xfa\x15\xc7A\x03p\xedo', 'keyId': 7377393220428234766}}, 'operationTime': Timestamp(1726809399, 22)}, acknowledged=True)

In [45]:
mycol2 = mydb["Students"]

In [46]:
data = [
    {"name": "Ali", "avg": 19.5},
     {"name": "Reza", "avg": 20},
     {"name": "Sara", "avg": 19.75}
]
mycol2.insert_many(data)

InsertManyResult([ObjectId('66ed0537a24aff8e9f9fa6e7'), ObjectId('66ed0537a24aff8e9f9fa6e8'), ObjectId('66ed0537a24aff8e9f9fa6e9')], acknowledged=True)

In [47]:
result = mycol2.find({"avg": {"$ne": 19}}).sort([("avg", -1)])

for student in result:
  print(student)

{'_id': ObjectId('66ed0537a24aff8e9f9fa6e8'), 'name': 'Reza', 'avg': 20}
{'_id': ObjectId('66ed0537a24aff8e9f9fa6e9'), 'name': 'Sara', 'avg': 19.75}
{'_id': ObjectId('66ed0537a24aff8e9f9fa6e7'), 'name': 'Ali', 'avg': 19.5}